* {
    box-sizing: border-box;
    --pink:rgb(221, 51, 80);
}

.btn-secondary {
    background-color: var(--pink) ;
    border: solid var(--pink) ;
}

.carrito{
    width:25px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: rgba(46, 45, 45, 0.09) 0px 3px 12px;
    flex-wrap: nowrap;
}

#productos{
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-container {
    position: fixed;
    left: 68%;
    top:6%;
    opacity: 0;
    height: auto;
    width: 30%;
    z-index: 100;
    transition:all .5s;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: white;
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: grey 2px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.detalleCarrito{
    display:grid;
    text-align: center;
}

#close{
    width:30px;
    margin-left: 83%;
    margin-top:2%;
}

.productoEnCarrito{
    display:grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-template-rows: 25% 25% 25% auto;
    margin-left:5%;
}

.boton-eliminar{
    width:20px;
    margin-left:5%;
}

#finalizar-compra{
    visibility:hidden;
}

#vaciar-carrito{
    visibility:hidden;
}

.mostrarBoton{
    visibility: visible;
}