* {
    box-sizing: border-box;
}

.btn-secondary {
    background-color: rgb(221, 51, 80);
    border: solid rgb(221, 51, 80);
}

.carrito{
    width:25px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: rgba(46, 45, 45, 0.09) 0px 3px 12px;
    flex-wrap: nowrap;
}

#productos{
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 35vw;
    top:10vw;
    opacity: 0;
    height: 30vh;
    width: 25vw;
    z-index: 100;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: rgb(247, 100, 124);
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: grey 2px;
}

.texto-pedido{
    margin-left:10%;
}

#close{
    width:30px;
    color:fuchsia;
    margin-left: 85%;
    margin-top:2%;
}


.detalleCarrito{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left:10%;
    margin-top:5%;
}